/* ================== Font Family Start Here ================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ================== Font Family End Here ================== */
body {
    font-family: "Poppins", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}


/* ================== Define Css Start Here ================== */

a {
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

span {
    color: #232323;
    display: inline-block;
}


li {
    list-style: none;
    display: inline-block;
}

/* Main Div Flex Start*/

.ctm-flex-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

/* Main Div Flex End*/


/* Justify Content Start*/

.ctm-justify-content-center {
    justify-content: center;
}

.ctm-justify-content-between {
    justify-content: space-between;
}

.ctm-justify-content-start {
    justify-content: flex-start;
}

.ctm-justify-content-end {
    justify-items: flex-end;
}

.ctm-justify-content-around {
    justify-content: space-around;
}

/* Justify Content End*/


/* Align Items Start*/

.ctm-align-items-start {
    align-items: flex-start;
}

.ctm-align-items-end {
    align-items: flex-end;
}

.ctm-align-items-center {
    align-items: center;
}

.ctm-align-items-baseline {
    align-self: baseline;
}

/* Align Items End*/


/* Common Hover Color Start*/
.chat-right-end-btn button:hover {
    color: #fff;
    background-color: #ff2029;
    transition: 0.3s ease-in-out;
}

/* Common Hover Color End*/


/* ================== Define Css End Here ================== */



/* ================== Header Section Start Here ================== */
.chat-top-header {
    padding: 20px 0;
    background-color: #fffcd9;
}

.chat-top-header-main {
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid #c0b21a;
    border-radius: 10px;
    position: relative;

}

.inner-chat-top-header {
    background-color: #f0df20;
    padding: 10px 20px;
    border: 1px solid #c0b21a;
    border-radius: 10px 10px 0 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-chat-content h4 {
    color: #232323;
    font-size: 16px;
}

.header-chat-content p{
    color: #00018a;
    font-size: 14px;

}

.header-chat-content p span {
    color: #0b9c17;
    display: inline-block;
    margin: 0;
    font-size: 14px;
}

.chat-right-end-btn button {
    color: #ff0006;
    border-radius: 5px;
    border: 1px solid #ff0006;
    padding: 8px 14px;
    background-color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.header-chat-logo a img {
    height: 48px;
    width: 48px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center top;
}

.header-chat-logo {
    max-width: max-content;
}

.header-chat-content {
    max-width: max-content;
}

.chat-left-logo {
    width: calc(80% - 20px);
}


.chat-right-end-btn {
    width: 20%;
}

.chat-right-end-btn {
    text-align: end;
}

/* ================== Header Section End Here ================== */




/* ================== Sent Button Bottom Start Here ================== */
.send-input-button {
    background-color: #f0f0f0;
    padding: 14px 20px;
    gap: 10px;
    position: fixed;
    width: calc(100% - 2px);
    bottom: 0px;
    left: 0;
    border-radius: 0 0 10px 10px;
}

.chat-input-box-main {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 10px 20px 10px 10px;
}

.chat-button {
    width: 5%;
    text-align: right;
}

.chat-button button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #959b9d;
    font-size: 22px;
}

.chat-search-input-box input {
    border: none;
    background: transparent;
    height: 100%;
    font-size: 14px;
    color: #959b9d;
    font-family: "Poppins", serif;
    outline: none;
    width: 100%;
}

.chat-search-input-box {
    width: calc(90% - 20px);
}

.link-filed-section {
    width: 10%;
    text-align: right;
}

.chat-search-input-box input::placeholder {
    font-size: 14px;
    color: #959b9d;
    font-family: "Poppins", serif;
}

.link-filed-section ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-end;
}

.link-filed-section ul li a {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    color: #959b9d;
}

/* ================== Sent Button Bottom End Here ================== */




/* ================== Inner Chats Start Here ================== */
.astro-chat {
    background-color: #ffffff;
    padding: 10px 14px;
    border-radius: 10px;
    max-width: 500px;
    margin-top: 20px;
}

.user-chat {
    background-color: #ffffe4;
    padding: 10px 14px;
    border-radius: 10px;
    text-align: right;
    max-width: 500px;
    margin-left: auto;
    margin-top: 30px;
}


.user-chat+.user-cha {
    margin-top: 10px;
}

.astro-chat p,
.user-chat p {
    font-size: 14px;
    text-align: start;
    color: #232323;
}

.time-box {
    text-align: right;
}

.time-box span {
    font-size: 13px;
    margin-top: 5px;
}


.uder-and-astro-chat-bg {
    background-image: url(/astro-bg-img.webp);
    background-repeat: repeat;
    background-size: auto;
    height: calc(100vh - 257px);
    overflow: auto;
    padding: 20px 0;
    margin-top: 90px;
    margin-bottom: 50px;
}

.inner-uder-and-astro-chat {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}


.inner-uder-and-astro-chat>div:last-child {
    margin-bottom: 30px;
}

/* ================== Inner Chats End Here ================== */




/* ================== Inner Chats End Here ================== */
 .recharge-button {
    background-color: #28ba51;
    color: #fff;
    padding: 6px 20px;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 14px;
    cursor: pointer;
}

.recharge-now-section ul li p {
    color: #616161;
    font-size: 14px;
}

.recharge-now-section ul {
    margin-left: 100px;
}

  .chat-box {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .chat-message {
    max-width: 60%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    color: white;
  }
  .incoming {
    align-self: flex-start;
    background-color: #fff;
    border-radius: 8px;
    max-width: 65%;
    box-shadow: 0 1px .5px #00000021;
    padding: 5px 20px 1px 15px;
    margin-bottom: 15px;
    position: relative;
}
  .outgoing {
    align-self: flex-end;
    background-color: #ffffe4;
    border-radius: 8px;
    max-width: 65%;
    box-shadow: 0 1px .5px #00000021;
    padding: 5px 20px 1px 15px;
    margin-bottom: 15px;
    position: relative;
    font-family: Poppins, sans-serif;
}
.message.outgoing p {
    font-size: 13px;
    margin-bottom: 2px;
    word-break: break-word;
    color: #616161;
    font-family: Poppins, sans-serif;
}
.message.incoming p {
    font-size: 13px;
    margin-bottom: 2px;
    word-break: break-word;
    color: #616161;
    font-family: Poppins, sans-serif;
}
.chat-input {
    display: flex;
    padding: 0;
    border-top: 0;
    width: 100%;
}
  .chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    outline: none !important;
  }
  .chat-input button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  .notification-box {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ff9800;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .notification-astro svg{
    font-size: 30px;
}
.notification-astro {
    position: absolute;
    right: 13%;
    top: 17px;
}
.send-input-button {
    max-width: 1093PX;
    margin: 0 auto !important;
    left: 0;
    right: 0;
}
/* ================== Inner Chats End Here ================== */

/* ================== Font Family Start Here ================== */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');




@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova Cond';
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondExtraboldItalic.eot');
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondExtraboldItalic.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondExtraboldItalic.woff') format('woff'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondExtraboldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova Cond';
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondBlackItalic.eot');
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondBlackItalic.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondBlackItalic.woff') format('woff'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova Cond';
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondExtraboldRegular.eot');
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondExtraboldRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondExtraboldRegular.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondExtraboldRegular.woff') format('woff'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondExtraboldRegular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova Cond';
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondLightRegular.eot');
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondLightRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondLightRegular.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondLightRegular.woff') format('woff'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondLightRegular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova Cond';
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondBoldItalic.eot');
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondBoldItalic.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondBoldItalic.woff') format('woff'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova Cond';
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondBlackRegular.eot');
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondBlackRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondBlackRegular.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondBlackRegular.woff') format('woff'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondBlackRegular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova Cond';
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondBold.eot');
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondBold.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondBold.woff') format('woff'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova Cond';
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondMediumItalic.eot');
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondMediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondMediumItalic.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondMediumItalic.woff') format('woff'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova Cond';
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondSemiboldRegular.eot');
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondSemiboldRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondSemiboldRegular.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondSemiboldRegular.woff') format('woff'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondSemiboldRegular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova Cond';
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondItalic.eot');
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondItalic.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondItalic.woff') format('woff'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova Cond';
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondSemiboldItalic.eot');
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondSemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondSemiboldItalic.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondSemiboldItalic.woff') format('woff'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondSemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova Cond';
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondRegular.eot');
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondRegular.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondRegular.woff') format('woff'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova Cond';
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondMediumRegular.eot');
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondMediumRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondMediumRegular.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondMediumRegular.woff') format('woff'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondMediumRegular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova Cond';
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondThinItalic.eot');
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondThinItalic.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondThinItalic.woff') format('woff'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova Cond';
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondThinRegular.eot');
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondThinRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondThinRegular.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondThinRegular.woff') format('woff'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondThinRegular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova Cond';
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondLightItalic.eot');
    src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondLightItalic.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondLightItalic.woff') format('woff'),
        url('../fonts/FONTSPRINGDEMO-ProximaNovaCondLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}




/* ================== Font Family End Here ================== */
body {
    font-family: 'FONTSPRING DEMO - Proxima Nova';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}


/* ================== Define Css Start Here ================== */

a {
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

span {
    color: #232323;
    display: inline-block;
}


li {
    list-style: none;
    display: inline-block;
}


/* Common Hover Color End*/


/* ================== Define Css End Here ================== */

/* ================== Thank You Section Start ================== */

.astrologer-registration-bg {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.logo-astrologer-registration img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.logo-astrologer-registration {
    margin-top: 30px;
    position: relative;
    text-align: center;
}

.logo-astrologer-registration::after {
    content: "";
    background-color: #ccc;
    width: 100%;
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 26px;
    z-index: 1;
}

.astrologer-thanks-section-bg {
    max-width: 1024px;
    margin: 0 auto;
    background: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 5px 12px #00000047;
}

.inner-thanks-section {
    text-align: center;
}


.thanks-section-content {
    margin-top: 30px;
}

.thanks-section-content p{
    font-size: 16px;
}
.thanks-section-content p+p {
    margin-top: 30px;
}

/* ================== Thank You End Here ================== */


/* ================== Talk to Astrologer Section Start ================== */
section.talk-to-astrologer-bg {
    margin:50px 0;
    position: relative;
}
.main-recharge-popup {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    max-width: 400px;
    /* height: 133px; */
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0 11px 15px -7px #0003, 0 24px 38px 3px #00000024, 0 9px 46px 8px #0000001f;
    padding: 24px;
    border-radius: 10px;
    border: none;
}
.recharge-popup .button button {
    color: #313131;
    border: 1px solid #919191;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 14px;
    /* display: block; */
    text-decoration: none;
    transition: all .3s ease-in-out;
    cursor: pointer;
    background-color: initial;
    margin-right: 10px;
    margin-top: 15px;
}
.recharge-popup p {
    font-size: 16px;
    line-height: 24px;
}
.inner-talk-to-astrologer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
}

.recharge-button {
    background-color: #28ba51;
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #28ba51;
}

.recharge-button:hover {
    background-color: #fff;
    color: #28ba51;
    transition: 0.3s ease-in-out;
}


.filter-button a {
    background-color: #fff;
    color: #232323;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 7px;
    cursor: pointer;
    width: max-content;
    border: 1px solid #232323;
}

.filter-button a:hover {
    background-color: #ddd;
    border: 1px solid #ddd;
}

.filter-button i {
    font-size: 14px;
    color: #232323;
    margin-right: 5px;
    display: inline-block;
}

.heading-button span {
    background-color: #bf2554;
    width: 100%;
    font-size: 21px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 5px;
    border: 1px solid #bf2554;
    text-align: center;
    font-family: "Merriweather", serif !important;
    padding: 10px 40px;
    color: #fff;
}

.search-button-filed button i {
    color: #fff;
}
.talk-to-astrologer-left-content{
    width: 45%;
}
.talk-to-astrologer-left-content,
.talk-to-astrologer-right-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.talk-to-astrologer-right-content {
    justify-content: flex-end;
    width: calc(55% - 50px);
    margin-left:50px;
}

.search-box-top-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    color: #232323;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: max-content;
}

.search-box-top-btn input:focus {
    border: none;
}

.search-box-top-btn input {
    border: none;
    padding: 5px;
    height: 100%;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 16px;
    font-family: 'FONTSPRING DEMO - Proxima Nova';
}

.search-box-filed {
    width: 80%;
    height: 40px;
    border: 1px solid #232323;
    border-radius: 5px 0 0 5px;
}

.search-button-filed {
    width: 20%;
}

.search-button-filed button {
    width: 100%;
    background-color: #bf2554;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    border: 1px solid #bf2554;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}


.inner-talk-to-astrologer-right-content {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.search-button-filed input::placeholder {
    color: #232323 !important;
    font-size: 16px;
    font-family: 'FONTSPRING DEMO - Proxima Nova';
}
.inner-form-filed-sec.full {
    width: 100%;
}
.inner-form-filed-sec {
    width: calc(100%/2 - 10px);
    position: relative;
}
.registration-heading .astrologer-call-button-ctm {
    position: inherit;
}
.inner-form-filed-sec textarea {
    border-radius: 5px;
    width: 100%;
    color: #232323;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    outline-style: none;
    padding: 10px;
    box-shadow: none !important;
    background: transparent !important;
    border: 1px solid #d9d9d9;
    height: 100px;
    font-family: 'FONTSPRING DEMO - Proxima Nova';
}
/* ================== Talk to AstrologerYou End Here ================== */





/* ================== Talk to AstrologerYou End Here ================== */
.all-list-talk-to-astrologer {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.inner-astrologer-detail {
    width: calc(100% / 3 - 14px);
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 5px;
    padding: 14px;
}

.astrologer-list-left {
    width: 25%;
}

.astrologer-list-center {
    width: calc(50% - 20px);
    margin: 0 10px;
}

.astrologer-list-right {
    width: 25%;
    position: relative;
}
.astrologer-profile a{
    width: 100%;
    height: 100%;
}
.astrologer-profile img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    object-position: top;
}


.talk-to-name-sec h5 a{
    font-size: 18px;
    font-weight: 600;
    color: #232323;
    margin-bottom: 5px;
}

.talk-to-name-sec p {
    color: #616161;
    font-size: 14px;
    line-height: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.talk-to-language {
    margin: 5px 0;
}

.talk-to-language p span,
.exp-year-sec p {
    color: #616161;
    font-size: 14px;
}

.talk-to-time-sec p {
    color: #ff0000;
    font-size: 16px;
    font-weight: 600;
}

.talk-to-time-sec p span {
    color: #616161;
    font-size: 14px;
}

.ctm-carly-breaks {
    font-family: none;
}

.talk-to-time-sec {
    margin-top: 5px;
}
.astrologer-call-button-ctm button {
    color: #28ba51;
    background-color: #fff;
    border: 1px solid #28ba51;
    color: #28ba51;
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    font-family: 'FONTSPRING DEMO - Proxima Nova';
    cursor: pointer;
}
.astrologer-call-button-ctm.chatStatus-false button {
    color: #bf2554;
    background-color: #fff;
    border: 1px solid #bf2554;
    color: #bf2554;
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    font-family: 'FONTSPRING DEMO - Proxima Nova';
    cursor: pointer;
}
.astrologer-call-button-ctm.chatStatus-false span{
    color: #bf2554;
}
.astrologer-call-button-ctm.chatStatus-false button:hover {
    background-color: #bf2554;
    color: #fff;
    transition: 0.3s ease-in-out;
}
.astrologer-call-button-ctm button:hover {
    background-color: #28ba51;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.astrologer-call-button-ctm {
    position: absolute;
    bottom: 0;
    right: 0;
}

.Verified-Sticker-icon {
    text-align: right;
}

.Verified-Sticker-icon img {
    max-width: 18px;
}

.five-star-rating ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
}

.five-star-rating ul li {
    max-width: max-content;
}

.five-star-rating ul li i {
    font-size: 10px;
    color: #616161;
}

.talk-to-total-orders p {
    color: #616161;
    font-size: 14px;
    margin-top: 5px;
}

/* ================== Talk to AstrologerYou End Here ================== */
/* ================== Inner Chats End Here ================== */




.astrologer-registration-bg {
    padding: 50px 0;
    background-color: #f8f8f8;
}


.common-h1-heading {
    font-size: 34px;
    line-height: 50px;
    font-weight: 800;
    font-family: "Merriweather", serif !important;
    text-transform: capitalize;
    text-align: center;
}

.common-para-content {
    font-family: 'FONTSPRING DEMO - Proxima Nova';
}


.logo-astrologer-registration img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.logo-astrologer-registration {
    margin-top: 30px;
    position: relative;
    text-align: center;
}

.logo-astrologer-registration::after {
    content: "";
    background-color: #ccc;
    width: 100%;
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 26px;
    z-index: 1;
}

.astrologer-registration-bg {
    margin-top: 20px;
}

.user-profile-pick {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.user-profile-pick img {
    width: 70px;
    border-radius: 50%;
    height: 70px;
    object-fit: contain;

}
.user-profile-pick a i {
    position: absolute;
    top: 14px;
    right: 0;
    color: #ccc;
    font-size: 20px;
}

.user-profile-pick-main {
    text-align: center;
}

.upload-size-image {
    margin-top: 10px;
    font-size: 20px;
}

.add-profile-content {
    margin-top: 5px;
}

.astrologer-registration-form {
    max-width: 1024px;
    margin: 0 auto;
    background: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 5px 12px #00000047;
}


.please-check-ref-color a {
    color: #1788ec;
    font-size: 16px;
}

.form-filed-section-bg {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 30px;
    margin-top: 30px;
}

.inner-form-filed-sec {
    width: calc(100%/2 - 10px);
    position: relative;
}



.common-input-filed {
    border-radius: 5px;
    width: 100%;
    color: #232323;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    outline-style: none;
    padding: 10px;
    box-shadow: none !important;
    background: transparent !important;
    border-bottom: 1px solid #d9d9d9;
    border: 1px solid #d9d9d9;
    height: 40px;
    font-family: 'FONTSPRING DEMO - Proxima Nova';
}

.man-input-filed-sec input::placeholder {
    color: #232323 !important;
    font-size: 16px;
}

input#fname::placeholder {
    color: #232323 !important;
}

.label-content label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    position: relative;
    max-width: max-content;

}

.label-content label:after {
    content: "*";
    color: #ff0000cc;
    position: absolute;
    right: -14px;
    top: -4px;
    font-size: 20px;
    font-family: auto;
}

.input-gender-sec label {
    margin: 0 5px;
}

.check-box-drop-worn li {
    display: block;
    padding: 10px;
}

ul.check-box-drop-worn {
    display: none;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -109px;
}

.inner-form-filed-sec:hover ul.check-box-drop-worn {
    display: block;
    transition: 0.3s ease-in-out;
}

.check-box-drop-worn input {
    margin-right: 5px;
}

.man-input-filed-sec {
    position: relative;
}

.man-input-filed-sec i {
    position: absolute;
    right: 5px;
    font-size: 13px;
    top: 0;
    bottom: 0;
    margin: auto;
    align-items: center;
    display: flex;
}

.reg-sumbit-button button {
    background-color: #bf2554;
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #bf2554;
    text-align: center;
    font-family: 'FONTSPRING DEMO - Proxima Nova';
}


.reg-sumbit-button {
    max-width: 450px;
    margin: 0 auto;
}

.reg-sumbit-button button:hover {
    background-color: #fff;
    color: #bf2554;
    transition: 0.3s ease-in-out;
}

.inner-form-filed-sec label span {
    font-family: none;
}

span.ctm-carly-breaks {
    font-family: none;
}

/* ================== Inner Chats End Here ================== */

/*============== dashboard astrologer========== */

.dashboard-left-dashboard ul li a {
    display: block;
    font-size: 16px;
    padding: 10px;
    color: #232323;
    font-weight: 500;
    font-size: 15px;
    width: 100%;
    padding: 10px 15px;
}
.dashboard-left-dashboard ul li a {
    display: block;
    font-size: 16px;
    padding: 10px;
    color: #232323;
    font-weight: 500;
    font-size: 15px;
    width: 100%;
    padding: 12px 16px;
}

.dashboard-inner {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.header-left-logo a {
    width: 85px;
}
.dashboard-left-dashboard {
    width: calc(20% - 15px);
    overflow: auto;
    bottom: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    height: max-content;
    padding: 0;
    border: 1px solid #d7d7d7;
}
.dashboard-left-dashboard > ul > li > a {
    border-bottom: 1px solid #dddddd;
}
.dashboard-right-content {
    width: calc(80% - 15px);
}
.dashborad-right-content-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.dashboard-column {
    width: calc(25% - 24px);
}
.dashboard-left-dashboard ul {
    max-width: 65%;
}
/*============== dashboard astrologer========== */


/*======06-march-2025========*/

.send-otp.man-input-filed-sec {
    max-width: 480px;
    margin: 0 auto;
    font-family: Poppins, sans-serif;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px #666;
    background-color: #fff;
    overflow: hidden;
}
.send-otp.man-input-filed-sec > h1 {
    background-color: #bf2554;
    text-align: center;
    font-weight: 600;
    color: #fff;
    margin: 0;
    padding: 12px 0;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
}
.send-otp .number--continious-popup, .enter-otp {
    padding: 0 50px 30px;
}
.send-otp.man-input-filed-sec span.close-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 21px;
    color: #313131;
    font-weight: 100;
    cursor: pointer;
    opacity: 1;
    transition: .3sease-in-out;
    color: #fff;
}
.send-otp .number--continious-popup > p {
    margin: 0;
    font-size: 17px;
    text-align: center;
    padding: 20px;
    color: #454545;
}
.send-otp .number--continious-popup > button, .enter-otp > button, .left-col-resend p button {
    background-color: #bf2554;
    color: #fff;
    border: none;
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 0 4px 2px #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: .3sease-in-out;
    cursor: pointer;
}
.send-otp.man-input-filed-sec input {
    border-radius: 5px;
    width: 100%;
    color: #232323;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    outline-style: none;
    padding: 10px;
    box-shadow: none !important;
    background: transparent !important;
    border-bottom: 1px solid #d9d9d9;
    border: 1px solid #d9d9d9;
    height: 40px;
    font-family: 'FONTSPRING DEMO - Proxima Nova';
}
.send-otp.man-input-filed-sec span.close-icon.back {
    left: 10px;
}
.send-otp .enter-otp h2 {
    font-size: 18px;
    text-align: center;
    padding: 20px 0;
}
.send-otp.man-input-filed-sec p {
    text-align: center;
    padding: 20px;
}
.send-otp .resend-both-col {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}
.send-otp .left-col-resend p {
    padding: 0;
}
.send-otp .left-col-resend p button{
    margin:0;
}
.send-otp .left-col-resend {
    display: flex;
    align-items: center;
    gap: 30px;
}
.outer-send-otp-main {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0000003b;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*======06-march-2025========*/
.ctm-underline-text {
    text-decoration: underline;
}

span {
    display: inline-block;
}

.ctm-span-define {
    font-weight: 500;
    font-size: 20px;
    font-family: 'Jost';
}

li {
    list-style: none;
}

/* Main Div Flex Start*/

.ctm-flex-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

/* Main Div Flex End*/


/* Justify Content Start*/



.ctm-justify-content-between {
    justify-content: space-between;
}

.ctm-justify-content-start {
    justify-content: flex-start;
}

.ctm-justify-content-end {
    justify-items: flex-end;
}

.ctm-justify-content-around {
    justify-content: space-around;
}

/* Justify Content End*/


/* Align Items Start*/

.ctm-align-items-start {
    align-items: flex-start;
}

.ctm-align-items-end {
    align-items: flex-end;
}

.ctm-align-items-center {
    align-items: center;
}

.ctm-align-items-baseline {
    align-self: baseline;
}

/* Align Items End*/

/* Margin Define Start */
.ctm-mt-10 {
    margin-top: 10px;
}

.ctm-mt-20 {
    margin-top: 20px;
}

.ctm-mt-30 {
    margin-top: 30px;
}

.ctm-mt-40 {
    margin-top: 40px;
}

.ctm-mt-50 {
    margin-top: 50px;
}

.ctm-section-margin {
    margin-top: 100px;
}

/* Margin Define End */



/* Padding Define Start */
.ctm-pt-10 {
    padding-top: 10px;
}

.ctm-pt-20 {
    padding-top: 20px;
}

.ctm-pt-30 {
    padding-top: 30px;
}

.ctm-pt-40 {
    padding-top: 40px;
}

.ctm-pt-50 {
    padding-top: 50px;
}

.ctm-section-padding {
    padding: 100px 0;
}

/* Padding Define End */


/* Text Align End*/
.ctm-text-start {
    text-align: start;
}

.ctm-text-center {
    text-align: center;
}

.ctm-text-end {
    text-align: end;
}

/* Align Align End*/


/* Common Color Start*/
.ctm-white-color {
    color: #fff;
}

.ctm-dark-black {
    color: #232323;
}

.ctm-primary-color {
    color: #ff3f33;
}

.ctm-primary-color-bg {
    background-color: #ffbf00;
}

/* Common Color End*/

/* ================== Define Css End Here ================== */


/* ================== Header Section Start Here ================== */
.wedding-header {
    padding: 10px 0;
    box-shadow: 0 0 10px #d7d7d7;
}

nav.navbar > ul > li {
    padding: 3px 20px;
}
.header-left-logo, .header-right-profil-icon {
    width: calc(11% - 20px);
}
nav.navbar {
    width: calc(78% - 20px);
}
nav.navbar ul {
    justify-content: center;
    display: flex;
}
/* dashboard */

.user-dashboard-profile img {
    width: 70px;
    height: 70px;
    text-align: right;
    margin-left: auto;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.user-dashboard-profile-menu {
    min-width: 300px;
    max-width: 300px;
    margin-left: auto;
    box-shadow: 0 0 22px #dbd8d8;
    border-radius: 0 0 10px 10px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    display: none;
    border-top: 7px solid #bf2554;
    z-index: 111;
}

.user-dashboard-profile-main-pro:hover>.user-dashboard-profile-menu {
    display: block;
    transition: 0.3s ease-in-out;
}

/* .user-dashboard-profile-main-pro.dashboard-menu-active .user-dashboard-profile-menu {
    display: block;
    transition: 0.3s ease-in-out;
} */

.user-inner-dashbord-content h5 {
    font-size: 24px;
    margin: 10px 0;
    font-family: "Merriweather", serif;
}

.user-inner-dashbord-pic {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}


.user-dashboard-profile-drop-down-menu ul li {
    display: block;
    text-align: start;
}

.user-dashboard-profile-drop-down-menu ul li+li {
    margin-top: 20px;
}

.user-dashboard-profile-drop-down-menu {
    padding: 20px;
}

.user-dashboard-profile-drop-down-menu ul li a {
    text-transform: capitalize;
    font-size: 14px;
    text-transform: uppercase;
    color: #232323;
    position: relative;
    font-weight: 600;
    width: 100%;
}


.user-dashboard-profile-drop-down-menu ul li a:hover {
    color: #bf2554;
}

.user-dashboard-profile-drop-down-menu ul li a span.amount-ctm-content {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.user-dashboard-profile-main-pro {
    position: relative;
    max-width: max-content;
    margin-left: auto;
    padding-bottom: 14px;
}

/* dashboard */
/* ================== Header Section End Here ================== */



/* ================== Notifications Section Start Here ================== */
.common-h1-heading {
    font-size: 34px;
    line-height: 50px;
    font-weight: 800;
    font-family: "Merriweather", serif;
    text-transform: capitalize;
    margin: 0;
}

.banner-notifications-bg {
    margin-top: 50px;
}

.banner-notifications-contents li {
    font-weight: 500;
    color: #232323;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
}


.inner-all-notifications-sec {
    text-align: center;
}



.all-notifications-sec-box-main {
    margin-top: 30px;
}

.inner-all-notifications-sec-box-maim {
    width: calc(100% / 2 - 10px);
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    border-radius: 10px;
    padding: 20px;
}

.inner-all-notifications-sec-box-maim h4 {
    font-size: 22px;
    margin-bottom: 14px;
    font-family: "Merriweather", serif;
}

.time-box {
    text-align: right;
    margin-top: 10px;
}

.time-box span {
    font-size: 13px;
    margin-top: 5px;
    color: #232323;
}

section.all-notifications-sec-bg {
    margin-top: 50px;
    margin-bottom: 50px;
}

.time-box span i {
    color: #232323;
    font-size: 12px;
    margin-right: 5px;
}

/* ================== Notifications Section End Here ================== */
.chat-container {
    display: flex;
    flex-direction: column-reverse; /* Messages appear from bottom to top */
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    scroll-behavior: smooth; /* Smooth scrolling effect */
  }
  
  .chat-message {
    background-color: #f1f1f1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
  }
  
  .chat-top-header {
    padding: 10px;
    background-color: #fffcd9;
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;
    height: calc(100vh - 105px);
    overflow: hidden;
}
section.chat-top-header .container{
    padding: 0;
}

/* Custom Scrollbar for Webkit Browsers (Chrome, Edge, Safari) */
.uder-and-astro-chat-bg::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .uder-and-astro-chat-bg::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light background */
    border-radius: 10px;
  }
  
  .uder-and-astro-chat-bg::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #ddd, #ddd); /* Gradient color */
    border-radius: 10px;
  }
  
  .uder-and-astro-chat-bg::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #ddd, #ddd); /* Darker on hover */
  }
  
  /* Custom Scrollbar for Firefox */
  .uder-and-astro-chat-bgchat-container {
    scrollbar-width: thin;
    scrollbar-color: #ddd #ddd;
  }
  




/* ================== My Wallet Section Start Here ================== */

.wallet-ctm-tab-menu ul li button, .wallet-ctm-tab-menu ul li a {
    background-color: #fff;
    color: #bf2554;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #bf2554;
}
.wallet-ctm-tab-menu ul li button:hover, .wallet-ctm-tab-menu ul li a:hover{
    background-color: #bf2554;
    color: #fff;
    transition: 0.3s ease-in-out;
}
.wallet-ctm-tab-menu ul li .wallet-ctm-tab-a.wallet-ctm-active-a {
    background-color: #bf2554;
    color: #ffffff;
    border: 1px solid #bf2554;
}

.wallet-ctm-tab-menu ul li {
    display: inline-block;
}

.wallet-ctm-tab {
    display: none;
}

.wallet-ctm-tab-active {
    display: block;
}

.wallet-transactions-tabs {
    margin-top: 20px;
    margin-bottom: 50px;
}

.my-wallet-recharge-button {
    background-color: #fff;
    color: #28ba51;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #28ba51;
}

.my-wallet-recharge-button:hover {
    background-color: #28ba51;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.inner-my-wallet-sec {
    margin: 14px 0;
}

.delate-all-btn a {
    background-color: #fff;
    border: 1px solid #ff0000;
    color: #ff0000;
}

.delate-all-btn a:hover {

    background-color: #ff0000;
    border: 1px solid #ff0000;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.my-walleavailable-balance-text p,
.my-walleavailable-balance-text p span {
    color: #28ba51;
}

.wallet-ctm-tab-menu ul li+li {
    margin-left: 14px;
}

.my-wallet-sec-heading-content {
    text-align: center;
    margin-top: 30px;
}

/* table */
.my-wallet-table-sec table {
    width: 100%;
    border-collapse: collapse;
}

.my-wallet-table-sec table tr th {
    text-align: start;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.my-wallet-table-sec table tr td {
    text-align: start;
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.delete-button-icon i {
    color: #ff0000;
    font-size: 12px;
}

.my-wallet-table-sec table tr:last-child td {
    border-bottom: 0;
}

.invoice-button-ctm {
    padding: 4px 14px;
    background-color: #bf2554;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #bf2554;
    font-size: 14px;
}

.invoice-button-ctm:hover {
    background-color: #fff;
    color: #bf2554;
}

.ctm-color-red {
    color: #ff0000;
}


.ctm-color-green {
    color: #28ba51;
}

.ctm-with-gst-incl p {
    font-size: 12px;
    margin-top: 4px;
}

/* table */

/* ================== My Wallet Section End Here ================== */


/* ================== Add Money to Wallet Section Start Here ================== */
section.add-money-wallet-bg {
    margin: 50px 0;
}
.inner-add-money-wallet h2 {
    margin-bottom: 20px;
}

.Walle-amount span {
    font-size: 18px;
    font-weight: 700;
    color: #232323;
    margin-top: 10px;

}

.Available-balance-sec p {
    color: #232323;
}

.inner-add-money-wallet {
    text-align: center;
}

.popular-recharge-sec {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.inner-popular-recharge-sec {
    width: calc(100%/6 - 17px);
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    border-radius: 10px;
    text-align: center;
    position: relative;
}


.popular-recharge-sec .extra-discount {
    background-color: #2197541a;
    padding: 10px;
}

.popular-recharge-sec .extra-discount span {
    color: #219653;
    font-size: 13px;
}

.popular-amount {
    padding: 35px 10px 20px 10px;
}

.popular-amount span {
    font-size: 16px;
    color: #232323;
}

.inner-popular-recharge-sec a {
    width: 100%;
    height: 100%;
}

.most-popular-tag {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    margin: auto;
}

.most-popular-tag span {
    background-color: #f2994a;
    padding: 5px 10px;
    border-radius: 2px;
    color: #fff;
    font-size: 10px;
    display: inline-block;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

/* ================== Add Money to Wallet Section End Here ================== */


/* ================== Order History Section Start Here ================== */

.my-order-hisrory-bg .wallet-ctm-tab-menu.wallet-ctm-tab-menu {
    margin-top: 30px;
}

.share-with-frnds-chat a {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    max-width: max-content;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #e1dddd;
}

.share-with-frnds-chat a img {
    max-width: 20px;
    margin-right: 10px;
    object-fit: contain;
}

.history-delete-button-ctm svg {
    color: #ff0000;
    font-size: 16px;
}

.order-id-sec ul li p,
.date-and-tine-sec p,
.chat-astrologer-name-sec p,
.call-rate-text p,
.duration-history-text p,
.share-with-frnds-chat p span {
    color: #616161;
    padding: 3px 0;
}

.order-id-sec ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.chat-astrologer-name-sec h5 {
    font-size: 18px;
    font-weight: 600;
    color: #232323;
    margin: 5px 0;
    font-family: "Merriweather", serif;
}

.ctm-chat-with-astrologer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
    border-top: 1px solid #e1dddd;
}

.inner-ctm-chat-with-astrologer {
    width: calc(100% / 3 - 14px);
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 5px;
    padding: 14px;
    flex-direction: column;
}

.order-id-sec ul {
    position: relative;
}
.order-id-sec ul .images{
    width: 20%;
}
.order-id-sec ul li a {
    position: absolute;
    top: 0;
    right: 0;
}

.inner-ctm-chat-with-astrologer-top a {
    width: 100%;
    height: 100%;
}

.help-ctm-ctm {
    padding: 4px 14px;
    background-color: #bf2554;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #bf2554;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.help-ctm-ctm:hover {
    background-color: #fff;
    color: #bf2554;
}

.history-delete-button-ctm {
    text-align: right;
    cursor: pointer;
}

.my-order-hisrory-bg .wallet-ctm-tab-menu ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.my-order-hisrory-bg .wallet-ctm-tab-menu ul li {
    width: max-content;
    flex: 1 0 auto;
}

.my-order-hisrory-bg .wallet-ctm-tab-menu ul li button,.my-order-hisrory-bg .wallet-ctm-tab-menu ul li a {
    width: 100%;
    text-align: center;
}

.inner-ctm-chat-with-astrologer-botton {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    flex-wrap: wrap;
}

/* ================== Order History Section End Here ================== */
body.user-recharge {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.parent-recharge-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 99;
}
body.user-recharge:before {
    content: "";
    width: 100%;
    position: absolute;
    background: #000;
    height: 100%;
    opacity: 0.2;
    z-index: 55;
}



/*========================26-march-2025====================*/
.dashboard-left-dashboard ul li ul {
    padding-left: 0;
    width: calc(100% - -2px) !important;
    background: #fff;
    margin-left: 0;
    border-left: 3px solid #bf2554;
}

.dashboard-left-dashboard ul {
    width: 100% !important;
    max-width: 100% !important;
    display: block !important;
}

.dashboard-left-dashboard ul li {
    display: block;
}
.dashboard-left-dashboard ul li ul li a {
    padding: 10px 13px 10px 25px;
    border-bottom: 1px solid #dddddd;
}
.dashboard-right-content table {
    width: 100%;
    text-align: center;
    background-color: #f7f7f7;
}

.dashboard-right-content table, .dashboard-right-content th, .dashboard-right-content td {
    padding: 10px 10px;
    line-height: normal;
    border-color: #d7d7d7;
    font-size: 14px;
}
.dashboard-right-content table th {
    background-color: #bf2554;
    color: #fff;
    font-size: 15px;
}
.dashboard-inner {
    padding-top: 50px;
}
p.error {
    color: red;
}
/*========================26-march-2025====================*/


/* ================== @ Media Css Start Here ================== */
@media (max-width:1199px) {}



@media (max-width:1024px) {}



@media (max-width:991px) {}




@media (max-width:767px) {}






@media (max-width:639px) {}






@media (max-width:575px) {
    .chat-left-logo {
        gap: 10px;
    }

    .inner-chat-top-header {
        padding: 10px;
    }

    .header-chat-content h4 {
        font-size: 14px;
    }

    .chat-left-logo {
        width: calc(80% - 10px);
    }
}





@media (max-width:479px) {}






@media (max-width:379px) {}

/* ================== @ Media Css Start Here ================== */